// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.language-ebnf {

}

/*
atom-text-editor::shadow .source.xml-ebnf {
	.variable.other {
		cursor: default;

		&:hover {
			text-decoration: underline;
		}
		&:active {
			filter: invert(100%);
			-webkit-filter: invert(100%);
		}
	}

}
*/